{% if sidebarNavigation|length !== 0 %}
<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
        {% for link in sidebarNavigation %}
            {% if link.sublinks %}
            <li class="app-sub-navigation__list">
            {% if link.heading %}
                <h2 class="dfe-vertical-nav--section-header">{{ link.heading }}</h2>
            {% endif %}
            <ul class="app-sub-navigation__list">
                {% for sublink in link.sublinks %}
                <li class="dfe-vertical-nav__section-item app-sub-navigation__item {% if pageName === item.name %}dfe-vertical-nav__section-item--current{% endif %}">
                    <a class="dfe-vertical-nav__link"
                       href="{{ '/' ~ sublink.slug }}">{{sublink.title}}</a>
                </li>
                {% endfor %}
            </ul>
            </li>
            {% else %}
            <li
                    class="dfe-vertical-nav__section-item {% if pageName === link.name %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="{{ '/' ~ link.slug }}">{{link.title}}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
