##
#
#
#####
RECAPTCHA_PUBLIC=some_text
RECAPTCHA_SECRET=some_text
FEEDBACK_TEMPLATE_ID=notify_feedback_template
GOV_NOTIFY_API_KEY=preprod-notify-api-key

AIRTABLE_TOKEN=some_token
AIRTABLE_BASE_ID=some_id

BASE_URL=http://localhost:3052
ROBOTS_ALLOW=true

# Create a key here, replacing space_id: https://app.contentful.com/spaces/SPACE_ID/api/keys
CONTENTFUL_SPACE_ID=contentful_space_id
CONTENTFUL_DELIVERY_API_TOKEN=contentful_delivery_api_token

# This can be generated with the following command:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
EXPRESS_SESSION_SECRET=""

# Entra API - see readme for more info.
OAUTH_SKIP_AUTH=true
OAUTH_CLIENT_ID=""
OAUTH_TENANT_ID=""
OAUTH_CLIENT_SECRET=""
