{% extends "layouts/homepage.html" %}

{% set selectedNav = "Service Standard" %}
{% set pageName = "Homepage" %}
{% set seoPageName = "Homepage" %}

{% block hero %}
<section class="dfe-page-hero">
    <div class="dfe-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{mainContent.title}}</h1>
                <p class="govuk-body-l">{{mainContent.description|safe}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Guidance for applying the standards</h2>
        </div>

        <div class="govuk-grid-column-two-thirds">

            <ol class="govuk-list dfe-list--bordered">
                {% for standard in serviceStandards %}
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="{{ "/service-standard/" ~ standard.slug }}">
                        <span class="dfe-list--number">{{standard.serviceStandard.standardNumber}}</span>. {{standard.serviceStandard.name}}</a>
                </li>
                {% endfor %}
            </ol>
        </div>

        <div class="govuk-grid-column-one-third">

            <div class="dfe-grid-container">
                {% for block in mainContent.sidebarBlocks %}
                <div class="dfe-card">

                    <div class="dfe-card-container">
                        {% if block.heading %}
                            <h2 class="govuk-heading-m">
                                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                                   href="/service-assessments">{{block.heading}}</a>
                            </h2>
                        {% endif %}
                        <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header"
                           href="{{ block.linkedContent.url }}">
                            <span class="govuk-visually-hidden">Go to {{block.heading}}</span>
                        </a>
                        <p>{{ block.description }}</p>
                        {% if block.linkedContent.type === 'linkedAsset' %}
                            <p class="govuk-body-s">{{block.linkedContent.filetype}} - {{ block.linkedContent.filesize }}<br />Updated on: {{ block.linkedContent.updatedDate }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

{% endblock %}